<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	 version="3.0">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <error-page>
        <exception-type> java.lang.Exception</exception-type>
        <location>/erro.html</location>
    </error-page>
    
    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
    
    <servlet>
        <servlet-name>meuServlet</servlet-name>
        <servlet-class>teste.agenda.servlet.MinhaServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>meuServlet</servlet-name>
        <url-pattern>/minhaServlet</url-pattern>
    </servlet-mapping>
  
      
    <servlet>
        <servlet-name>ServletContador</servlet-name>
        <servlet-class>teste.agenda.servlet.Contador</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ServletContador</servlet-name>
        <url-pattern>/contagem</url-pattern>
    </servlet-mapping>
    
    
    
    
    
</web-app>
